/* SingleProduct の写真 */
.slide img,
.card-image {
  height: 450px;
  object-fit: contain;

  /* height: 450px; */
  /* object-fit: cover; */
}

.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}